@import './bootstrap-datetimepicker.css';

html,
body {
  height: 100%;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.bd-footer {
  font-size: 85%;
  text-align: center;
  background-color: #f7f7f7;
}

.bd-footer-links {
  padding-left: 0;
  margin-bottom: 1rem;
}

.bd-footer-links li {
  display: inline-block;
}

.bd-footer-links li + li {
  margin-left: 1rem;
}

.bd-footer a {
  font-weight: 500;
  color: #495057;
}

.bd-footer p {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .bd-footer {
    text-align: left;
  }
}

/*Home*/
.time-table-header {
  padding: 0 1em;
  height: 500px;
  overflow: hidden;
}

.time-table-header img {
  width: 100%;
  margin-top: -400px;
}

.card-tall {
  height: 100%;
}

.search-bar {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

.search-bar .logo {
  vertical-align: middle;
}

.search-bar .city-toggle label {
  border-radius: 10px;
}

.search-bar .btn-search {
  background-color: lightgray;
  border-radius: 10px;
}

.search-bar .row {
  align-items: center;
}

input.error,
select.error {
  box-shadow: maroon;
}

.time-table td {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  padding-top: 5px;
  text-align: center;
}

.time-table .row-header {
  color: rgba(0, 0, 0, 0.8);
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 49px;
  position: relative;
  width: 24.6%;
}

.time-table .row-header:before {
  background-color: #02c39a;
  content: '';
  display: block;
  height: 100%;
  left: 34px;
  position: absolute;
  top: 0;
  width: 3px;
}

.time-table .row-header.light-green:before {
  background-color: #e36414;
}

.time-table .row-header.green:before {
  background-color: #9a031e;
}

.time-table .row-header.blue:before {
  background-color: #5f0f40;
}

.time-table tr:first-child .row-header:before {
  height: 50%;
  top: 50%;
}

.time-table tr:last-child .row-header:before {
  height: 50%;
}

.time-table .row-header:after {
  background-color: #fff;
  box-sizing: border-box;
  border: solid 3px #b8bedd;
  border-radius: 10px;
  content: '';
  display: block;
  left: 31px;
  position: absolute;
  top: 40%;
  height: 10px;
  width: 10px;
}

@keyframes loading {
  40% {
    background-position: 100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.loading .bar {
  background-color: #e7e7e7;
  height: 14px;
  border-radius: 7px;
  width: 80%;
}

/*
  Disruptions
*/
.color-options > option.blue:before {
  background-color: #02c39a;
  content: '';
  display: block;
  height: 100%;
  left: 34px;
  position: absolute;
  top: 0;
  width: 3px;
}

.card .box-shadow {
  box-shadow: rgb(186, 166, 186) 8px 8px 8px -5px; 
}

/*
  Tickets
*/

section.pricing {
  
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Lost and Found */
.text-content object {
  font-size: large;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}

.card-img-crop {
  max-height: 400px;
  overflow-y: hidden;
}

@media (max-width: 990px) {
  .search-bar .row > div {
    padding-top: 10px;
  }

  .search-bar .row .city-toggle {
    padding: 10px;    
  }

  .search-bar .row {
    margin-left: 0;
    margin-right: 0;
    padding: 0.2em;
  }
}

.lazy-loading-container h1 {  
  margin-bottom: 3em;
}

.lazy-loading-container .image-box {
  margin-bottom: 300px;
}

.lazy-loading-container .image-box img {
  max-width: 100%;
}